<h2>Hello {{dash.user.username}} </h2>
<h4>Here is a list of the Chinese characters you've seen on the quizzes</h4>

<div class="dash-options">
	<h5 class="sort-options">Sort Options</h5>
	<select ng-model="dash.sortCriteria">
		<option value="proficiency">Mastery</option>
		<option value="nWrong">Wrong Attempts</option>
		<option value="strokeCount">Stroke Count</option>
	</select>
	<button ng-click="dash.toggleAscending()">Toggle Ascending</button>
	<button ng-click="dash.sort(dash.sortCriteria, dash.ascending)">Sort</button>
</div>

<table class="dash-table">
	<thead>
		<tr class="table-header">
			<th>Symbol</th>
			<th>Stroke Count</th>
			<th>Mastery</th>
			<th>Correct</th>
			<th>Wrong</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="char in dash.user.vocabList">
			<td class="td-symbol">{{ char.symbol }}</td>
			<td>{{ char.strokeCount }}</td>
			<td>{{ char.proficiency }}</td>
			<td>{{ char.nCorrect }}</td>
			<td>{{ char.nWrong }}</td>
		</tr>
	</tbody>
</table>
	