<h2 class="page-title">Learn To Read Chinese</h2>

<div class="mission-statement">
	<p>This website is a tool for learning and practicing recognition of Chinese characters</p>
	<p>Wouldn't it be cool to know how to read Chinese?  Impress your friends?  Gain insight into a culture which makes up nearly 20% of the world population?</p>
	<p>Okay not so fast.  I can't guarantee that you'll become a master poet, but using this site can help you read & recognize the written Chinese language</p>
	<p>You might be suprised what you can pick up, even without much effort, just by spending five minutes now and then looking through the flashcards and clicking through the quizzes on this site</p>
</div>

<div class="signIn-logIn-bar" ng-if="!main.loggedIn">
	<a href="/login" class="btn btn-primary">Login</a>
	<a href="/users" class="btn btn-success">Sign Up</a>
</div>

<div ng-if="main.loggedIn">
	<p>Welcome back {{main.user.username}},</p>
	<a href="/dashboard">Check your progress?</a>
</div>