/* Naviagtion & Site Header */

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

ul {
	list-style-type: none;
}

#jiji-image {
	display: inline;
	height: 12.5%;
	width: 12.5%;
}

#index-header-text {
	display: inline;
	font-weight: bold;
}

.jumbotron {
	margin-bottom: 0;
}

.navigation {
	margin-top: 1em;
}

.nav-link {
	display: inline;
}

#nav-greeting, #nav-logout {
	float: right;
	margin: 0 2px;
}

#nav-logout {
	margin-right: 5%;
}

/** Home Page **/

.mission-statement-div {
	line-height: 2;
}

.signIn-logIn-bar {
	margin-left: 10%;
}

/**  Flash Cards View  **/

.flash-card {
	border: 2px #afafcf solid;
	border-radius: .4em;
	margin: 1px 2px;
	width: 8%;
	float: left;
}

.flash-card .symbol {
	font-size: 3em;
	width: 100%;	
	background-color: #fff;
	border: none;
	margin: 0 auto;
	cursor: pointer;
}

.page-header {
	margin: 0;
	border: 0;
}

.flash-add-input {
	width: 30px;
}

.flash-dash-choice {
	display: block;
}

#add-character {
	font-weight: 600;
	color: #317749;
}

.flashcard-details {
	background: #ededff;
	border: 2px solid #ababdf;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	z-index: 10000;
}

.flash-card .active-flashcard {
	background-color: #ededff;
}

#flash-pronounciation {

}

/*Char Add Loading Animation*/
.loading-add-char {
	color: #44dd44;
	animation: anim 1.2s linear infinite;
}

@keyframes anim {
  to {
    color: #000000;
    transform: translate(20px);
  }
}

/*User Signup Form Animation*/

/**  Quiz View  **/

.quiz-dashboard {
	margin-top: 1em;
	background: #ccf;
	padding: 1em;
	border-radius: 5px;
	width: 60%;
}

.quiz-header {
	margin: 10px 0;
}

.quiz-li {
	display: block;
	font-weight: 600;
}

.quiz-input {
	width: 70px;
    padding: 2px;
    margin: 5px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.6s;
}

.quiz-input:focus {
  outline-width: 0;
  border-bottom: solid 2px #969696;
}

.button-generate-quiz {
  display: block;
  margin: 10px 25%;
  padding: 5px 10px;
  border-radius: 5px;
}

.quiz-container {
	background: #dcdcff;
	width: 55%;
}

.quiz-question {
	text-align: center;
	font-size: 3.5em;
	font-weight: 600;
	width: 100%;
}

.quiz-answer-choice {
	margin-right: 55%;
	font-size: 2.1em;
	font-weight: 400;
	cursor: pointer;
}

.english-question {
	font-size: 2.3em;
}

.english-answers .quiz-answer-choice {
	font-size: 1.8em;
}

.quiz-answer-choice:hover {
	background-color: #badfba;
}

.quiz-answer-choice:focus {
	background-color: #9b9;
}

.quiz-nav-div {
	margin: 0 auto;
}

.quiz-previous-button, .quiz-next-button, .quiz-finish {
  padding: 5px 10px;
  border-radius: 5px;
  background: #95bb95;
}

/**  Quiz Summary Template **/

.quiz-summary-container {
	margin-top: 1em;
	background: #fdedfd;
	padding: 1em;
	border-radius: 5px;
	width: 55%;
}

.quiz-summary-header {
	border-bottom: 2px solid #caa;
}

.quiz-summary-question {
	margin: 10px 0;
	border-bottom: 2px solid #caa;
}

.quiz-summary-question h1 {
	font-size: 3.5em;
}

.quiz-summary-question .english-question {
	font-size: 2.3em;
}

.quiz-summary-choice.english-answers {
	font-size: 1.8em;
}

#close-results-button {
	margin-right: 10%;
	float: right;
}

#btn-close-results {
	float: right;
	margin-right: 70%;
}

#btn-log-results {
	float: left;
}

/* Results image sprite */
/*.quiz-summary-question span {
	background: url(../images/quiz-sprites.png);
	height: 32px;
	width: 32px;
	float: right;
	margin-right: 20%;
	padding: 0 32px 0 0;
}*/

/*.quiz-answer span {
	background-position: 0 -64px;
}

.quiz-attempted span {
	background-position: 0 -32px;
}

.quiz-attempted.quiz-answer span {
	background-position: 0 0;
}*/

.quiz-answer {
	background-color: #9999cc;
}

.quiz-attempted {
	background-color: #de9999;
}

.quiz-answer.quiz-attempted {
	background-color: #99da99;
}

/* User Dashboard */
.dash-table td, th{
	padding: 1px 5px;
}

/*audio directive*/
.audio {
	height: 100%;
	width: 100%;
	cursor: pointer;
}



/************ Media Queries ***********/
/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
	/* Index Page Header */


	.jumbotron {
		padding: 5px;
	}

	/*Flash Cards Page*/
	.flash-card {
		width: 18%;
	}

	.flash-card .symbol {
		font-size: 2.5em;
	}

	#add-character {
		padding: 3px;
		margin: 3px;
	}

	.flashcard-details { /*stops collapsible flashcard content from being squished on the right side of the screen*/
		text-align: center;
		margin: 0 auto;
	    left: 0;
	    right: 0;
	}

	/* Quiz Page */
	.quiz-dashboard, .quiz-container, .quiz-summary-container {
		width: 100%;
	}

	.quiz-header {
		font-size: 1.5em; 
		margin-top: 0;
	}

	.quiz-input-list, .quiz-answer-choices{
		padding-left: 0;
	}

	.quiz-answer-choice {
		margin-left: 40%;
	}

/*	.quiz-audio {
		margin-left: 30%;
	}*/

	.quiz-answer-choice {
		font-size: 2em;
		margin-right: 0;
	}

	.button-generate-quiz {
		margin: 0 auto;
	}
	/*Quiz Results Template*/
	.quiz-summary-header {
		margin: 0;
		font-size: 1.5em;
	}

	.quiz-summary-question {
		margin-top: 0;
		padding-left: 0;
		font-size: 0.75em;
	}

	.quiz-summary-choice {
		margin: 6px 0;
		font-size: 2.8em;	
	}

	.english-answers .quiz-answer-choice {
		font-size: 1.5em;
		margin-left: 10%;
	}

	#btn-close-results {
		margin-right: 0;
	}
}

/* Tablets etc */
 @media screen and (min-width:480px) and (max-width:900px) {
	/*Flash Cards Page*/

 	.flash-card {
		width: 12%;
	}

	#btn-close-results {
		margin-right: 40%;
	}
 }