

/**  Flash Cards View  **/

.flash-card {
	border: 2px #afafcf solid;
	border-radius: .4em;
	margin: 1px 2px;
	width: 8%;
	float: left;
}

.flash-card .symbol {
	font-size: 3em;
	width: 100%;	
	background-color: #fff;
	border: none;
	margin: 0 auto;
	cursor: pointer;
}

.page-header {
	margin: 0;
	border: 0;
}

.flash-add-input {
	width: 30px;
}

.flash-dash-choice {
	display: block;
}

#add-character {
	font-weight: 600;
	color: #317749;
}

.flashcard-details {
	background: #ededff;
	border: 2px solid #ababdf;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	z-index: 10000;
}

.flash-card .active-flashcard {
	background-color: #ededff;
}

#flash-pronounciation {

}

/*Char Add Loading Animation*/
.loading-add-char {
	color: #44dd44;
	animation: anim 1.2s linear infinite;
}

@keyframes anim {
  to {
    color: #000000;
    transform: translate(20px);
  }
}

/*User Signup Form Animation*/



/* User Dashboard */
.dash-table td, th{
	padding: 1px 5px;
}

/*audio directive*/
.audio {
	height: 100%;
	width: 100%;
	cursor: pointer;
}



/************ Media Queries ***********/
/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
	/* Index Page Header */


	.jumbotron {
		padding: 5px;
	}

	/*Flash Cards Page*/
	.flash-card {
		width: 18%;
	}

	.flash-card .symbol {
		font-size: 2.5em;
	}

	#add-character {
		padding: 3px;
		margin: 3px;
	}

	.flashcard-details { /*stops collapsible flashcard content from being squished on the right side of the screen*/
		text-align: center;
		margin: 0 auto;
	    left: 0;
	    right: 0;
	}

/* Tablets etc */
 @media screen and (min-width:480px) and (max-width:900px) {
	/*Flash Cards Page*/

 	.flash-card {
		width: 12%;
	}
 }