/* Naviagtion & Site Header */
$nav-height: 60px;
$mobile-nav-height: 40px;
$nav-border: 2px solid #9a9aea;
$nav-back-color: #dcdcfe;

.navigation {
  vertical-align: top;
  height: $nav-height;
  width: 100%;
  box-sizing: border-box;
  background: $nav-back-color;
  border-bottom: $nav-border;
  	nav {
    	display: inline-block; 
	}
}

.site-nav {
  width: 60%; 
  	.nav-link {
  		width: 24%;
  	}
}

.action-nav {
  width: 36%;
  	.nav-link {
  		width: 42%;
  	}
}

.button {
  padding: 8px 14px;
  border: 1px solid #454545;
  border-radius: 5px;
  font-weight: 600;
  color: #454545;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      &:hover, &:focus {
        background-color: #cdcdfe;
        color: #343434;
      }
}

.nav-link {
  display: inline-block;
  height: $nav-height;
  line-height: $nav-height; /* Used to vertically align text inside of button element- Thanks CSS Tricks! */
  padding: 0;
  margin-left: 5px;
  border-radius: 0; /* cancel border styles from button class and make own border-bottom style -- TODO rewrite more elegantly so not to require this overwrite */
  border: none;
  border-bottom: $nav-border; 
}

.signup-button {
	background-color: #bbd1cb;
  color: #000038;
}

/* Styles for all pages */
.page-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.02em;
}

a:hover, a:focus {
	text-decoration: none;
}

button, input, select {
  &:focus {
    outline: 0;
  }
}

/** Home Page **/

.mission-statement {
  margin: 10px auto;
  width: 70%;
  line-height: 2; 
  font-size: 1.2em;
}

.signIn-logIn-bar {
  margin-left: 10%; 
}

li {  /* Takes away the bulets from answer choices on quiz page */
  list-style: none;
}

@media screen and (max-width: 480px) {
  /* Index Page Header */
  .navigation {
    height: $mobile-nav-height; 
  }

	.nav-link {
		font-weight: 400;
		height: $mobile-nav-height;
		line-height: $mobile-nav-height; /* Used to vertically align text inside of button element- Thanks CSS Tricks! */
	}

	.site-nav .nav-flashcards {
		width: 36%;
		font-size: 12px;
	}

	/* Styles for all pages */
	.page-title {
	    font-size: 24px;
	}

	/** Home Page ****/
	.mission-statement {
    width: 100%;
		font-size: 0.9em;
	}
}
