/****  Flash Cards View  ***/
.flashcards-container {
	display: table;
	margin: 0 auto;
	padding: 0 15px;
}

.flash-card {
	border: $nav-border;
	border-radius: .4em;
	margin: 1px 2px;
	width: 8%;
	float: left;
}

.flash-card .symbol {
	font-size: 3em;
	width: 100%;	
	background-color: #fff;
	border: none;
	margin: 0 auto;
	cursor: pointer;
}

.flashcard-dashboard {
	margin: 0 auto 15px auto;
	width: 85%;
}

.flash-add-input {
	margin: 0;
	height: 40px;
	width: 30px;
	font-size: 1.3em;
}

.button-add-char {
	margin-left: -6px;  //hack to remove space between button and input
	background-color: #f4f4f4;
	border: none;
	border-radius: 5px;
}

.flash-dash-choice {
	display: block;
}

.char-adder {
	display: inline-block;
	float: right;
}

.flashcard-controls {
	display: inline-block;
}

#add-character {
	font-weight: 600;
	color: #317749;
}

.flashcard-details {
	background: #ededff;
	border: $nav-border;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	z-index: 10000;
}

.flash-card .active-flashcard {
	background-color: #ededff;
}

.flashcards-footer {
	margin-top: 1em;
	
}

.button-delete {
	background-color: #df6478;
}

/*Char Add Loading Animation*/
.loading-add-char {
	color: #44dd44;
	animation: anim 1.2s linear infinite;
}

@keyframes anim {
  to {
    color: #000000;
    transform: translate(20px);
  }
}

/* User Dashboard */
.dash-table td, th{
	padding: 1px 5px;
}

/*audio directive*/
.audio {
	height: 100%;
	width: 100%;
	cursor: pointer;
}



/************ Media Queries ***********/
/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
	/*Flash Cards Page*/
	.flash-card {
		width: 18%;
	}

	.flash-card .symbol {
		font-size: 2.5em;
	}

	#add-character {
		padding: 3px;
		margin: 3px;
	}

	.flashcard-dashboard {
		width: 100%;
	}

	.flash-dash-choice {
		width: 100px;
	}

	.flashcard-details { /*stops collapsible flashcard content from being squished on the right side of the screen*/
		text-align: center;
		margin: 0 auto;
	    left: 0;
	    right: 0;
	}
}
/* Tablets etc */
 @media screen and (min-width:480px) and (max-width:900px) {
	/*Flash Cards Page*/

 	.flash-card {
		width: 12%;
	}
 }