/*****  Quiz View  ****/

.quiz-dashboard {
	//TODO - DRY the code that is repeated with .quiz-container
	position: relative;
	margin: 0 auto;
	margin-top: 2em;
	background: #dcdcfe; //$nav-back-color
	padding: 1em;
	border: 2px solid #9a9aea; //$nav-border
	border-radius: 5px;
	width: 30%;
}

.quiz-li {
	display: block;
	font-weight: 600;
}

.quiz-input {
    padding: 2px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #9a9aea; //$nav-border
    	&.input-no {
    		width: 50px;
    	}
}

.quiz-container {
	//TODO - DRY the code that is repeated with .quiz-dashboard
	position: relative;
	margin: 0 auto;
	margin-top: 2em;
	background: #dcdcfe; //$nav-back-color
	border: 2px solid #9a9aea; //$nav-border
	border-radius: 5px;
	width: 55%;
}

.quiz-question {
	text-align: center;
	font-size: 3.5em;
	font-weight: 600;
	width: 100%;
}

.quiz-answer-choice {
	margin-right: 55%;
	font-size: 2.1em;
	font-weight: 400;
	cursor: pointer;
}

.english-question {
	font-size: 2.3em;
}

.english-answers .quiz-answer-choice {
	font-size: 1.8em;
}

.quiz-answer-choice:hover {
	background-color: #badfba;
}

.quiz-answer-choice:focus {
	background-color: #9b9;
}

.quiz-nav-div {
	width: 200px;
	margin: 0 auto;
}

.inactive-button {
	border-color: #aaaaaa;
	background-color: #cccccc;
	color: #aaaaaa;
	cursor: default;
		&:hover, &:focus {
			background-color: #cccccc;
			color: #aaaaaa;
			cursor: default;
		}
}

.quiz-previous-button, .quiz-next-button {
	width: 85px;
	margin: 4px;
}

.quiz-finish {
	width: 60px;
	float: right;
	margin: 5px 10px 0 0;
	//TODO move to bottom right corner
}

/**  Quiz Summary Template **/

.quiz-summary-container {
	margin: 0 auto;
	margin-top: 1em;
	background: #fdedfd;
	padding: 1em;
	border-radius: 5px;
	width: 55%;
}

.quiz-summary-header {
	border-bottom: 2px solid #caa;
}

.quiz-summary-question {
	margin: 10px 0;
	border-bottom: 2px solid #caa;
}

.quiz-summary-question h1 {
	font-size: 3.5em;
}

.quiz-summary-question .english-question {
	font-size: 2.3em;
}

.quiz-summary-choice.english-answers {
	font-size: 1.8em;
}

.quiz-answer {
	background-color: #9999cc;
}

.quiz-attempted {
	background-color: #de9999;
}

.quiz-answer.quiz-attempted {
	background-color: #99da99;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
	/* Quiz Page */
	.quiz-dashboard, .quiz-container, .quiz-summary-container {
		width: 100%;
	}

	.quiz-header {
		font-size: 1.5em; 
		margin-top: 0;
	}

	.quiz-input-list, .quiz-answer-choices{
		padding-left: 0;
	}

	.quiz-answer-choice {
		margin-left: 40%;
	}

/*	.quiz-audio {
		margin-left: 30%;
	}*/

	.quiz-answer-choice {
		font-size: 2em;
		margin-right: 0;
	}

	.button-generate-quiz {
		margin: 0 auto;
	}
	/*Quiz Results Template*/
	.quiz-summary-header {
		margin: 0;
		font-size: 1.5em;
	}

	.quiz-summary-question {
		margin-top: 0;
		padding-left: 0;
		font-size: 0.75em;
	}

	.quiz-summary-choice {
		margin: 6px 0;
		font-size: 2.8em;	
	}

	.english-answers .quiz-answer-choice {
		font-size: 1.5em;
		margin-left: 10%;
	}

	#btn-close-results {
		margin-right: 0;
	}
}