<h2 class="page-title">Character List</h2>

<table class="table table-bordered table-striped" ng-show="character.characters">
	<thead>
		<tr>
			<th>symbol</th>
			<th>definition</th>
			<th>pronunciation</th>
		</tr>
	</thead>
	<tbody  ng-repeat="char in character.characters" ng-click="showDetails = ! showDetails">

		<!-- loop over characters -->
		<tr>
			<td>{{ char.symbol }}</td>
			<td>{{ char.definition[0] }}</td>
			<td>{{ char.pronunciation }}</td>
		</tr>

		<tr ng-show="showDetails">
			<td>Radicals</td>
			<td>Stroke Count</td>
			<td>Category</td>
			<td>Proficiency</td>
			<td>Date Added</td>
			<td>Other</td>
		</tr>
		<tr ng-show="showDetails">
			<td>{{ char.radicals }}</td>
			<td>{{ char.strokeCount }}</td>
			<td>{{ char.category }}</td>
			<td>{{ char.proficiency }}</td>
			<td>{{ char.date | date }}</td>
			<td>{{ char.other }}</td>
		</tr>

	</tbody>
</table>