<h2 class="page-title">Flash Cards</h2>
<div class="flashcard-dashboard">
<!-- 		Key<input ng-model="character.key" id="key"></input>       !!!MAY ADD BACK LATER- NOT ESSENTIAL  !!!ALSO ADD SEARCH FUNCTION LATER
	Value<input ng-model="character.value" id="value"></input>
	<button ng-click="character.getData(character.key, character.value)">Count</button>
	<p ng-show="character.countResult.calculated">{{character.countResult.message}}</p>
	<br></br> -->
	<div class="flashcard-controls">
		<input class="flash-dash-choice quiz-input" ng-model="filterQuery" type="text" placeholder="Filter by">
        <input class="flash-dash-choice quiz-input" ng-model="sortQuery" type="text" placeholder="Sort by">
    </div>
	<!-- Character Adder -->
	<div class="char-adder" ng-controller="addCharController as characterAdder">
		<input class="quiz-input flash-add-input" type="text" ng-model="characterAdder.symbol">
		<button class="button button-add-char" ng-click="characterAdder.addChar()">Add Character</button>

		<button ng-model="collapsed" ng-click="collapsed=!collapsed">?</button>
		<div ng-show="collapsed">If there is a character you'd like to see in the Flashcards, copy it and paste it here.  It should show up below almost instantaneously</div>
		<div ng-if="characterAdder.addedCharacter" ng-init="addedChar.index = 0">
			<span ng-click="characterAdder.closeAddedChar();">X</span>
			<h2>Added Character</h2>
			<h3>{{characterAdder.addedCharacter.symbol}}</h3>
			<audio-button data-ng-click="update(); play()" pronunciation="{{characterAdder.addedCharacter.pronunciation}}" address="http://humanum.arts.cuhk.edu.hk/Lexis/Canton/sound/"><p class="audio">{{ characterAdder.addedCharacter.pronunciation }}<span class="glyphicon glyphicon-volume-up"></span></p></audio-button>
			<p>{{characterAdder.addedCharacter.definition[addedChar.index] }}</p>
			<p>
				<button ng-click="addedChar.index = character.decrement(characterAdder.addedCharacter.definition.length, addedChar.index)"><</button>
				<button ng-click="addedChar.index = character.increment(characterAdder.addedCharacter.definition.length, addedChar.index)">></button>
			</p>
		</div>
	</div>



	<!-- Test Loading -->
	<div class="loading-add-char" ng-show="character.loading">Loading!!!!</div>
</div>

 <div class="flashcards-container" ng-show"character.characters">
	<div class="flash-card" ng-repeat="char in character.characters | filter:filterQuery | orderBy:sortQuery">
		<button class="symbol" ng-click="showDetails = !showDetails" ng-class="{'active-flashcard': showDetails}">{{ char.symbol }}</button>
	<!--Show Details on-click & add active-flashcard class to .symbol button-->
		<div class="flashcard-details" ng-init="char.index = 0" ng-if="showDetails">
			<audio-button data-ng-click="update(); play()" pronunciation="{{char.pronunciation}}" address="http://humanum.arts.cuhk.edu.hk/Lexis/Canton/sound/"><p class="audio">{{ char.pronunciation }}       <span class="glyphicon glyphicon-volume-up"></span></p></audio-button> <!--When using local audio files: address="../../../assets/audio/"-->
			<p>{{ char.definition[char.index] }}</p>
			<p>
				<button ng-click="char.index = character.decrement(char.definition.length, char.index)"><</button>
				<button ng-click="char.index = character.increment(char.definition.length, char.index)">></button>
			</p>		
			<p ng-show="char.radicals">Radicals: {{ char.radicals }}</p>
			<p ng-show="char.strokeCount">Stroke Count: {{ char.strokeCount }}</p>
			<p ng-show="char.category">Category: {{ char.category }}</p>
			<a ng-if="main.user.admin" ng-href="/characters/{{ char._id }}" class="button">Edit</a>
			<a ng-if="main.user.admin" href="#" ng-click="character.deleteCharacter(char._id)" class="button button-delete">Delete</a>
		</div>
	</div>
</div>

<div class="flashcards-footer">
	<a ng-href="/characters" class="button">Table View</a>
	<a ng-show="main.user.admin" class="button" href="/characters/create" class="btn btn-default">Add Character (Manually)</a>
</div>
