
<h2 class="page-title">Quiz Generator</h2>

<div class="quiz-dashboard" ng-hide="quiz.quiz.quizActive || quiz.quiz.quizFinished">
	<ul class="quiz-input-list">
		<li class="quiz-li">Filter By			
			<select ng-model="quiz.key">
				<option value="">None</option>
				<option value="category">Category</option>
				<option value="strokeCount">Stroke Count</option>
			</select>
		</li>

		<li class="quiz-li" ng-if="quiz.key == 'category'">Category 
			<select ng-model="quiz.value">
				<option value="Animals">Animals</option>
				<option value="Colors">Colors</option>
				<option value="Nature">Nature</option>
				<option value="Numbers">Numbers</option>
				<option value="Time">Time</option>
				<option value="Emotions">Emotions</option>
				<option value="Actions">Actions</option>
				<option value="Technology">Technology</option>
				<option value="People">People</option>
				<option value="Anatomy">Anatomy</option>
				<option value="Directions">Directions</option>
				<option value="Dining">Dining</option>
				<option value="Clothing">Clothing</option>
				<option value="Other">Other</option>
			</select>
		</li>

		<li class="quiz-li" ng-if="quiz.key == 'strokeCount'">Stroke Count
			<input class="quiz-input" ng-if="quiz.key == 'strokeCount'" ng-model="quiz.value" id="value"></input>
		</li>

		<li class="quiz-li">Quiz Type
		    <select ng-model="quiz.criteria" ng-change="quiz.makeUserCriteria(quiz.criteria)">
		    	<option value=""></option>
				<option value="new">New</option>
				<option value="reviewStageI">Review I</option>
				<option value="reviewStageII">Review II</option>
				<option value="reviewStageIII">Review III</option>
				<option value="retry">Retry</option>
			</select>
		</li>

		<li class="quiz-li"># of Questions 
			<input class="quiz-input" ng-model="quiz.number" id="number" ng-init="quiz.number='5'"></input>
		</li>

		<li class="quiz-li">
			<button class="button-generate-quiz" ng-click="quiz.makeQuiz(quiz.key, quiz.value, quiz.number, quiz.criteria)">Generate Quiz!</button>
		</li>
	</ul>
</div>

 <div class="quiz-container" ng-show="quiz.quiz.quizActive">
 	<audio-button class="audio" data-ng-click="update(); quizPlay()" attempted="{{quiz.quiz.questions[quiz.quiz.questionIndex].attemptedAnswer}}" pronunciation="{{quiz.quiz.questions[quiz.quiz.questionIndex].pronunciation}}" address="http://humanum.arts.cuhk.edu.hk/Lexis/Canton/sound/"><h1 class="quiz-question" ng-class="{'english-question': quiz.quiz.questions[quiz.quiz.questionIndex].questionType == 2}">{{quiz.quiz.currentQuestion.question}}</h1></audio-button>   <!--When using local audio files: address="../../../assets/audio/"-->
 	<ul class="quiz-answer-choices" ng-class="{'english-answers': quiz.quiz.questions[quiz.quiz.questionIndex].questionType == 1}">
	 	<li><h3 class="quiz-answer-choice" ng-click="quiz.checkAnswer(quiz.quiz.currentQuestion.choices[0])" tabindex="1">{{quiz.quiz.currentQuestion.choices[0]}}</h3></li>
	 	<li><h3 class="quiz-answer-choice" ng-click="quiz.checkAnswer(quiz.quiz.currentQuestion.choices[1])" tabindex="2">{{quiz.quiz.currentQuestion.choices[1]}}</h3></li>
	 	<li><h3 class="quiz-answer-choice" ng-click="quiz.checkAnswer(quiz.quiz.currentQuestion.choices[2])" tabindex="3">{{quiz.quiz.currentQuestion.choices[2]}}</h3></li>
	 	<li><h3 class="quiz-answer-choice" ng-click="quiz.checkAnswer(quiz.quiz.currentQuestion.choices[3])" tabindex="4">{{quiz.quiz.currentQuestion.choices[3]}}</h3></li>

	 	<li>
	 		<div class="quiz-nav-div">
			 	<button class="quiz-previous-button" ng-click="quiz.previousQuestion()" ng-hide="quiz.quiz.questionIndex === 0">Previous</button>
			 	<button class="quiz-next-button" ng-click="quiz.nextQuestion()" ng-hide="quiz.quiz.questionIndex === quiz.quiz.questions.length - 1">Next</button>
			</div>
		</li>
		<li><button class="quiz-finish" ng-click="quiz.finishQuiz()">Done</button></li>
	</ul>

</div>

<quiz-results ng-if="quiz.quiz.quizFinished" ng-model="quiz"></quiz-results>
<button class="btn btn-primary" id="btn-log-results" ng-if="quiz.quiz.quizFinished && !quiz.logged" ng-click="quiz.logResults(quiz.quiz)">Log Results</button>



