<div class="page-header">
	<h1 ng-if="character.type == 'create'">Create Character</h1>
	<h1 ng-if="character.type == 'edit'">Edit Character</h1>
</div>

<form class="form-horizontal" ng-submit="character.saveCharacter()">

	<div class="form-group">
		<label class="col-sm-2 control-label">Symbol</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="character.characterData.symbol">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Definition</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="character.characterData.definition">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Pronunciation</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="character.characterData.pronunciation">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Radicals</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="character.characterData.radicals">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Stroke Count</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="character.characterData.strokeCount">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Category</label>
		<div class="col-sm-6">
<!-- 			<input type="text" class="form-control" ng-model="character.characterData.category"> -->
			<select ng-model="character.characterData.category">
				<option value="Animals">Animals</option>
				<option value="Colors">Colors</option>
				<option value="Nature">Nature</option>
				<option value="Numbers">Numbers</option>
				<option value="Time">Time</option>
				<option value="Emotions">Emotions</option>
				<option value="Actions">Actions</option>
				<option value="Technology">Technology</option>
				<option value="People">People</option>
				<option value="Anatomy">Anatomy</option>
				<option value="Directions">Directions</option>
				<option value="Dining">Dining</option>
				<option value="Clothing">Clothing</option>
				<option value="Other">Other</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="character.type == 'create'">Enter Character</button>
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="character.type == 'edit'">Update Character</button>
		</div>
	</div>

</form>

<div class="row show-hide-message" ng-show="character.message">
	<div class="col-sm-6 col-sm-offset-2">

		<div class="alert alert-info">
			{{ character.message }}
		</div>

	</div>
</div>

<button ng-click="character.toggleSearch()">Search</button>
<my-iframe ng-if="character.searchOn" src='character.getSrc()'>
